[Desktop Entry]
Type=Application
Name=Atom
Comment=A hackable text editor for the 21st century
Exec=/opt/atom/atom %F
Icon=/opt/xdgentries/icons/atom.png
StartupNotify=true
Categories=Development;
Website=https://atom.io/
MimeType=text/plain;
