[Desktop Entry]
Type=Application
Name=Firefox Developer Edition
Comment=Browse the World Wide Web
Exec=/opt/firefoxdev/firefox %U
Icon=/opt/xdgentries/icons/firefoxdev.png
Terminal=false
Categories=Network;
Website=https://www.mozilla.org/en-US/firefox/channel/
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;
