[Desktop Entry]
Version=1.0
Type=Application
Name=Opera Developer
Comment=Fast and secure web browser
Exec=/opt/operadev/opera-developer %U
Icon=/opt/xdgentries/icons/operadev.png
Terminal=false
Categories=Network;
Website=http://www.opera.com/
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
